/* General styling for the authenticator */
amplify-authenticator {
  --amplify-primary-color: #4A90E2; /* Example primary color: blue */
  --amplify-primary-tint: #4A90E2; /* Lighter shade of primary color for tint */
  --amplify-primary-shade: #4278cc; /* Darker shade of primary color for shade */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh; /* Full viewport height */
  font-family: 'Georgia', Helvetica, Arial, sans-serif;
}

