.card {
  margin-bottom: 20px; /* Space between cards */
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05); /* Smoother shadow */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  background-color: rgba(226, 201, 183, 0.45 ); /* Transparent white */

}

.card-body{

  background-color: rgba(226, 201, 183, 0.0); /* Transparent white */

}


.card-img {
  border: black 2px;
  border-color: black;
  margin-left: 5px;
  margin-top: 5px;
  object-fit: cover; /* This will cover the area without distorting the aspect ratio */
}

.card-body {
  padding: 15px; /* Padding inside the card */
  margin-left: 5px;
  display: flex; /* This will create a flex container */
  flex-direction: column; /* Align children in a column */
  justify-content: space-between; /* Space out t */
}

.facilities-icons {

  color: black;
}

.rating, .facilities-icons {
  display: flex; /* This will make each row a flex container */
  justify-content: flex-start; /* Align children (stars and icons) to the start */
  align-items: center; /* Align children vertically in the center */
  gap: 5px; /* Optional: adds space between children */
  margin-bottom: 7px;
}

.rating {
  margin-top: 10px; /* Space above rating */
}

.btn-primary {
  margin-top: 10px; /* Space above button */
}


