<!-- Footer -->
<html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<footer class="footer">
  <div class="container">
    <!-- Footer Content -->
    <div class="row">
      <!-- About Us -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Exploring the Camino's heart, our site offers insights, tips, and personal tales for pilgrims. We share the spirit of the journey, fostering a community of adventurers eager to walk this ancient path.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Information -->
      <div class="col-md-4">
        <h5>Contact Information</h5>
        <address>
          <p>123 Main Street, Cityville, Country</p>
          <p>Email: cillian0murphy@gmail.com</p>
          <p>Phone: +353 083 5467234</p>
        </address>
      </div>
    </div>

    <!-- Social Media Links -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Connect With Us</h5>
        <ul class="social-icons">
          <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/caminosocietyireland/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
</html>
