<!-- src/app/app.component.html -->
<html>
<app-header class="custom-header"></app-header>

<!-- Hero Section -->

  <div id="MainSection" class="featured-sections">
    <div class="row">
    <section class="hero">
      <div class="hero-content">
        <img id=#mainLogo class="d-inline-block align-top pb-2" src="../../../assets/images/portallogo3.png" alt="myAppLogo" width="530" height="530">
        <div id="#explore" class="card small">
            <h1 class="hero-title text-background">Discover the Magic Within</h1>
            <p class="hero-description text-background">Embark on a mystical journey through ancient history.</p>
            <a  class="btn btn-lg btn-primary shadow-strong">Explore Now</a>
          </div>
      </div>
        </section>
    </div>

    <div class="card-container">
      <div id="card1" class="card">
        <div class="row">
          <div id = #carousels1  class="col-md-6">
            <app-carousel-french></app-carousel-french>
          </div>
          <div class="col-md-6">
            <div class="text-center card-body">
              <h1 class="card-title">Camino Frances</h1>
              <p class="card-text">
                The Camino Frances, also known as the French Way, is a historic pilgrimage route
                that spans approximately 800 kilometers across northern Spain. This sacred journey
                has been traveled by pilgrims for centuries, drawing people from various cultures,
                backgrounds, and walks of life.
<br>
                The trail winds through picturesque landscapes, charming villages, and historical sites,
                offering a unique blend of spiritual reflection and cultural exploration. Pilgrims
                embark on this adventure seeking not only physical challenge but also moments of
                introspection, camaraderie, and connection with the profound history of the Camino.
                <br>

                Along the route, walkers encounter iconic landmarks, such as the Cathedral of Santiago
                de Compostela, the symbolic endpoint of the pilgrimage. The trail is not just a path;
                it's a transformative experience that brings individuals closer to nature, themselves,
                and the collective spirit of those who have walked before.

                Every step tells a story, and every encounter is a chance for personal growth. The Camino
                Frances weaves a tapestry of memories, creating an unforgettable journey that goes
                beyond the physical distance traveled.
              </p>            </div>
          </div>
        </div>
      </div>
      <div id="card2" class="card">
        <div class="row">
          <div id = "carousels2" class="col-md-6">
            <app-carousel-french></app-carousel-french>
            <a  id = "carousels2btn" class="btn btn-lg btn-secondary shadow-strong">Explore Now</a>
          </div>
          <div class="col-md-6">
            <div class="text-center card-body">
              <h1 class="card-title">Camino De La Plata</h1>
              <p class="card-text">
                The Camino de la Plata, also known as the Silver Way, is a remarkable pilgrimage
                route stretching from Seville in southern Spain to Santiago de Compostela in the
                northwest. This less-traveled path offers a distinctive and diverse experience for
                those seeking a pilgrimage beyond the more popular routes.

                The journey unfolds through vast landscapes, encompassing rural countryside, historical
                cities, and charming villages. Pilgrims on the Camino de la Plata are greeted by the
                warmth of local communities and the rich cultural tapestry of Spain.

                As walkers progress, they encounter architectural marvels, such as Roman bridges,
                medieval churches, and picturesque landscapes that showcase the country's unique beauty.
                The route, although challenging, provides ample opportunities for introspection,
                self-discovery, and encounters with fellow pilgrims from around the world.

                One of the distinctive features of the Camino de la Plata is its connection to the
                historical legacy of the Roman Empire, adding an extra layer of cultural richness to
                the pilgrimage experience. Each step becomes a part of a narrative that merges personal
                reflection with the collective journey of those who have trodden this path before.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="card3" class="card">
        <div class="row">
          <div id = #carousel3 class="col-md-6">
            <app-carousel-french></app-carousel-french>
          </div>
          <div class="col-md-6">
            <div class="text-center card-body">
              <h1 class="card-title">Camino Portugues</h1>
              <p class="card-text">
                The Camino Portugués, a journey through Portugal to Santiago de Compostela,
                unveils a tapestry of landscapes, cultures, and history. Pilgrims embark on
                a route that winds its way through charming towns, picturesque vineyards,
                and coastal vistas, creating a unique pilgrimage experience.

                Beginning in Lisbon or Porto, pilgrims follow ancient paths, encountering
                historical landmarks, Romanesque churches, and the welcoming hospitality of
                Portuguese locals. The Camino Portugués is a testament to the interconnectedness
                of spirituality, culture, and the beauty of the Iberian Peninsula.

                Along the way, pilgrims cross medieval bridges, traverse lush forests,
                and explore seaside towns. The journey invites reflection, fostering a sense
                of inner peace and connection to the profound history of the Camino.

                As pilgrims approach Santiago, the anticipation builds, culminating in the
                awe-inspiring arrival at the Cathedral. The Camino Portugués weaves together
                the landscapes of Portugal with the collective stories of those who seek
                pilgrimage as a transformative and enriching experience.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <p>Card 4</p>
      </div>
      <div class="card">
        <p>Card 5</p>
      </div>
      <div class="card">
        <p>Card 6</p>
      </div>
      <div class="card">
        <p>Card 7</p>
      </div>
      <div class="card">
        <p>Card 8</p>
      </div>
      <div class="card">
        <p>Card 9</p>
      </div>
      <div class="card">
        <p>Card 10</p>
      </div>
    </div>

    <!--    <div class="container-fluid">&lt;!&ndash; Featured Sections &ndash;&gt;-->
<!--      <div class="row justify-content-center">-->
<!--        <div class="col-md-10 mb-4">-->
<!--          <div class="card rounded-2 ">-->
<!--            <div class="text-center card-body">-->
<!--              <h1 class="card-title">Camino Frances</h1>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--            </div>-->
<!--            <app-carousel-french></app-carousel-french>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->
<!--      <div class="row justify-content-center">-->
<!--        <div class="col-md-10 mb-4">-->
<!--          <div class="card rounded-2 ">-->
<!--            <div class="text-center card-body">-->
<!--              <h1 class="card-title">Camino De La Plata</h1>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--            </div>-->
<!--            <app-carousel-french></app-carousel-french>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row justify-content-center">-->
<!--        <div class="col-md-10 mb-4 ">-->
<!--          <div class="card rounded-2 ">-->
<!--            <div class="text-center card-body">-->
<!--              <h5 class="card-title">Camino Frances</h5>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--            </div>-->
<!--            <app-carousel-french></app-carousel-french>-->
<!--          </div>-->
<!--        </div>-->

<!--    </div>-->
<!--  </div>-->
  </div>


  <app-footer-main></app-footer-main>

<router-outlet></router-outlet>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- The bundle file contains all the necessary scripts for the slim version, instead of manually including them all -->
<script src="https://cdn.jsdelivr.net/npm/tsparticles-slim@2.0.6/tsparticles.slim.bundle.min.js"></script>
<!-- https://www.jsdelivr.com/package/npm/tsparticles -->
<!-- The bundle file contains all the necessary scripts for the full version, instead of manually including them all -->
<!--<script src="https://cdn.jsdelivr.net/npm/tsparticles@2.0.6/tsparticles.bundle.min.js"></script>-->
