/* General styles */
.navbar-custom {
  background-image: url("../../assets/images/header3.jpg"); /* Adjust the path as needed */
  color: white;
  background-size: contain;
  font-family: 'Georgia', sans-serif;
}

span {
  color: white;
}

.navbar-header .navbar-brand {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-header .logo {
  height: 50px; /* Adjust the size as needed */
  margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: white;
  margin-right: 20px; /* Spacing between nav items */
}

.navbar-custom .navbar-text {
  margin-left: auto; /* Aligns user greeting to the right */
  padding-right: 15px;
}

.username {
  font-weight: bold;
}

.btn-profile {
  background-color: #ffd700; /* Gold color */
  color: #483d8b; /* Dark blue color */
  border-radius: 20px;
  padding: 10px 15px;
}

.btn-profile:hover {
  background-color: #e0c200; /* Slightly darker gold */
  color: white;
}
/* This will ensure that the form elements stay inline */
.form-inline {
  display: flex;
  align-items: center;
}

.form-inline .form-control {
  margin-right: .5rem; /* Space between input and button */
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

.form-inline .btn-outline-success {
  border-color: white;
  color: white;
}

.form-inline .btn-outline-success:hover {
  background-color: white;
  color: #483d8b;
}


/* Navbar toggler */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .navbar-header .navbar-brand {
    flex-direction: column;
  }
}
